= form_for @blog_post do |f|
  - if @blog_post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@blog_post.errors.count, "error")} prohibited this blog_post from being saved:"
      %ul
        - @blog_post.errors.full_messages.each do |msg|
          %li= msg

  .row.collapse
    .small-3.columns
    = f.label :title, class: 'right inline'
    .small-9.columns
    = f.text_area :title
  .row.collapse
    .small-3.columns
    = f.label :body, class: 'right inline', title: "Content to Publish", data: {tooltip: true}
    .small-9.columns
    = f.text_area :body
  .row.collapse
    .small-3.columns
    = f.label :time_posted, class: 'right inline'
    .small-9.columns
    = f.datetime_select :time_posted
  .row.collapse
    .small-9.small-offset-3.columns
    = f.submit 'Save', class: 'button radius'
