= form_for @blog_post do |f|
  - if @blog_post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@blog_post.errors.count, "error")} prohibited this blog_post from being saved:"
      %ul
        - @blog_post.errors.full_messages.each do |msg|
          %li= msg

  .row
    .small-3.columns
    = f.label :title
    = f.text_area :title
  .row
    .small-9.columns
    = f.label :body
    = f.text_area :body
  .row
    .small-3.columns
    = f.label :time_posted
    = f.datetime_select :time_posted
  .row
    .small-9.small-offset-3.columns
    = f.submit 'Save'
