%h1 Listing Blog Posts

%table
  %thead
    %tr
      %th Title
      %th Body
      %th Time posted
      %th
      %th
      %th

  %tbody
    - @blog_posts.each do |blog_post|
      %tr
        %td= blog_post.title
        %td= blog_post.body
        %td= blog_post.time_posted
        %td= link_to 'Show', blog_post
        %td= link_to 'Edit', edit_blog_post_path(blog_post)
        %td= link_to 'Destroy', blog_post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Blog post', new_blog_post_path, class: 'button radius'
